#body {
  /* background-color: #f5f0f6; */
  /* background-color: #d2f1e4; */
  /* background-color: #ccc9dc; */
  /* background-color: #d8b4a0; */
  background-color: #d77a61;
  /* background-color: #223843; */
  /* background-color: #c7efcf; */
  padding-top: 10%;
}
.me {
  border-radius: 50%;
  width: 90%;
}
[data-tooltip] {
  position: relative;
  cursor: default;
}
[data-tooltip]::after {
  position: absolute;
  width: 120px;
  content: attr(data-tooltip);
  visibility: visible;
  z-index: 1;
}
.me-img {
  text-align: center;
}
.fixed-nav {
  position: fixed;
}
.proj-1 {
  max-width: 20rem;
  /* width: 80%; */
}
.proj {
  display: block;
  height: 500px;
  background-color: rgba(75, 73, 73, 0);
}
.carousel-inner {
  display: block;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .me {
    width: 80%;
  }
}
@media (max-width: 950px) {
  .me {
    width: 80%;
  }
  .info {
    display: none;
  }

  .proj {
    /* width: 50%; */
    /* position: absolute; */
    /* padding: 0 12%; */
    /* position: relative; */
    display: block;

    margin-left: auto;
    margin-right: auto;
    /* margin-left: 20%;
    margin-right: 20%; */
  }
  .proj-1 {
    /* position: relative; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 575px) {
  .me {
    width: 100%;
  }
  /* .me-img {
    font-size: 4px;
  } */
}
h1 {
  font-family: "Montserrat, sans-serif";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.carousel-inner {
  padding: 4% 20%;
}

.about {
  margin: 0% 10%;
  border-radius: 10px;
  box-shadow: 0 10.8px 9.2px rgba(0, 0, 0, 0.2),
    0 6.7px 10.3px rgba(235, 67, 16, 0.527), 0 8.5px 10px rgba(0, 0, 0, 0.2),
    0 7.3px 8.9px rgba(211, 113, 75, 0.87), 0 7.8px 10.4px rgba(8, 8, 8, 0.4),
    0 9px 8px rgba(0, 0, 0, 0.3);
}
#about {
  position: relative;
  border: 1px;
  background-color: #fff;
  padding: 3% 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /* box-shadow: 1px 1px 1px grey; */
}
#about h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  border-bottom: 1px solid grey;
}
#about p {
  font-family: "Playfair Display", serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.logos {
  text-align: center;
  padding: 1%;
}
.logo {
  color: #d6523a;
  padding: 1% 3%;
}
.logo:hover {
  /* color: #d77a61; */
  cursor: pointer;
  color: #db553d55;
}
#projects {
  padding-top: 60px;
}
.proj-1 {
  float: left;
  margin-right: 60px;
}
.project-title {
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}
.project-title h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 60px;
}
.lev {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.proj-1:hover {
  /* margin: auto; */
  box-shadow: 0 19.8px 9.2px rgba(0, 0, 0, 0.2),
    0 10.7px 19.3px rgba(235, 67, 16, 0.527), 0 12.5px 10px rgba(0, 0, 0, 0.2),
    0 10.3px 17.9px rgba(211, 113, 75, 0.87), 0 20.8px 20.4px rgba(8, 8, 8, 0.4),
    0 20px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(246, 242, 240, 0.972);
  /* background-color: rgba(179, 200, 240, 0.473); */
  /* this to move upwards */
  transform: translate(0, -5px);
}

#resume-button {
  background-color: #fff;
  position: relative;
  max-width: 80px;
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 1px 1px grey;
}
.resume h3 {
  font-family: "Quicksand", sans-serif;
}
#resume-button :hover {
  cursor: pointer;
  /* color: rgb(153, 147, 147); */
  color: rgb(189, 63, 40);
}
.footer {
  width: 100%;
  height: 100px;
  background-color: #fff;
  line-height: 2;
  text-align: center;
}
.skills {
  box-shadow: 0 10.8px 9.2px rgba(0, 0, 0, 0.2),
    0 10.7px 19.3px rgba(235, 67, 16, 0.527), 0 8.5px 10px rgba(0, 0, 0, 0.2),
    0 7.3px 8.9px rgba(211, 113, 75, 0.87), 0 10.8px 10.4px rgba(8, 8, 8, 0.4),
    0 9px 8px rgba(0, 0, 0, 0.3);
}
.skills i {
  color: rgb(214, 106, 73);
}
